* {
  box-sizing: border-box;
}

:root {
  background-color: #21222a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 635px;
  max-width: 635px;
  height: 100vh;
  margin-inline: auto;
}

}
